@import "tailwindcss";

body {
  @apply bg-gray-50 text-gray-900;
}

input[type="date"] {
  display: flex;
  align-items: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  margin-left: auto;
  cursor: pointer;
}